@import url(fonts/trebuchetMS);

@import url(fonts/bebasneue);

@import url(fonts/websymbols-regular-webfont);

@import url(fonta/websymbolsRegular);

/* Fuentes */
@font-face {
  font-family: "trebuchetMS";
  src: url(fonts/TrebuchetMS.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bebasneue";
  src: url(fonts/BebasNeue.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: websymbolsRegular;
  src: url(fonts/websymbols-regular-webfont.eot);
  src: url(fonts/websymbols-regular-webfont.eot?#iefix) format(embedded-opentype), url(fonts/websymbols-regular-webfont.woff) format(woff), url(fonts/websymbols-regular-webfont.ttf) format(truetype), url(fonts/websymbols-regular-webfont.svg#websymbolsRegular) format(svg);
  font-weight: normal;
  font-style: normal;
}