@media (max-width:1250px) {
    .wrap {
        width: 97%;
        margin: 0 auto;

    }

    #banner h1 {
        display: block;
        font-size: 100% auto;
        text-align: center;
        display: flex;
        justify-content: center;

    }

    #cards {
        width: 107%;
        margin: 1.45%;
    }

    .card {
        display: block;
        width: 18%;
        margin: 0 auto;
        text-align: center;
    }

    .card p {
        display: block;
        text-align: center;
        width: 50%
    }

    #articulo {
        margin-top: 33%;
        text-align: center;
        width: 98%;
        font-size: 80%;
    }

    .description {
        display: block;
        padding: 25%;
        margin-top: -18%;
        font-size: 80%;
        text-align: center;
    }

    #articlo article {
        width: 97%;
    }

    #footer .wrap>div {
        width: 24%;
    }

    #footer #naveg img {
        font-size: 20px;
        width: 12%;

    }


    #footer h5 {
        font-size: 154%;
    }
}

@media (max-width:990px) {

    #articulo {
        text-align: center;
        font-size: 73%;
        width: 99%;
    }
}



@media (max-width:892px) {
    #footer h5 {
        font-size: 123%;
    }

    #footer .wrap>div {
        width: 22%;

    }

    .description {
        display: block;
        padding: 25%;
        margin-top: -18%;
        font-size: 76%;
        text-align: center;
    }

    .card .category,
    a {
        width: 100%;
        height: 14%;
        font-family: "trebuchetMS";
        font-size: 14px;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        color: brown;
        transition: all 300ms;
    }
}

@media (max-width:814px) {
    #footer .wrap>div {
        width: 20%;
    }

    #footer h5 {
        font-size: 98%;
    }
}

@media (max-width:754px) {

    #menu ul li a {
        display: block;
        color: white;
        text-decoration: none;
        transition: all 300ms;
        font-size: 50%;
    }

    #articulo .parr {
        display: block;
        text-align: center;
        width: 60%;
        padding: 4%;
        font-size: 80%;

        #header {
            width: 100%;
            height: 60px;
        }

        #header {
            width: 100%;
            height: 300px;

        }

        .description {
            display: block;
            padding: 25%;
            margin-top: -18%;
            font-size: 50%;
            text-align: center;

        }

        #articulo .parr {
            display: block;
            text-align: center;
            width: 60%;
            padding: 40%;
            font-size: 80%;
        }

        #red {
            text-align: center;
        }

        #lateral {
            display: block;
            text-align: center;
        }

        .galeria2 {
            width: 70%;
        }
    }







}

@media (max-width:751px) {

    #header {
        width: 100%;
        height: 150px;
    }

    #menu {
        clear: both;
        float: left;
        width: 440px;
        margin: 0px auto;
    }




#logo {
    float: none;
    width: 300px;
    background-color: black;
    border-radius: 50px;
    text-align: center;
    margin-top: 8px;
    margin-left: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;
    transition: all300ms;
    margin: 0px auto;
}
}